.additional-goods__wrapper {
  margin: 0;
  padding: 0;
}

.additional-goods__title {
  font-family: var(--special-font);
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 25px 0 26px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    border-top: 1px solid var(--basic-green);
    border-bottom: 1px solid var(--basic-green);
    top: 50%;
    left: 0;
    right: 0;
    z-index: -1;
    padding: 0;
  }
}

.additional-goods__bg {
  background-color: var(--basic-white);
  padding-left: 19px;
  padding-right: 22px;
}

.additional-goods__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.additional-goods__item {
  border-top: 1px solid var(--catalog-border);
  margin: 13px 20px 19px;
}

.additional-goods__name {
  font-family: var(--special-font);
  font-weight: 400;
  text-transform: uppercase;
  color: var(--catalog-additional);
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  padding: 0;
  padding-top: 13px;
}

.additional-goods__info {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 13px 0 15px;
}

.additional-goods__description,
.additional-goods__value {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: var(--special-dark-grey);
}

.additional-goods__button {
  width: 280px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--basic-green);
  font-family: var(--special-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.additional-goods__present {
  background-image: linear-gradient(
      rgba(104, 183, 56, 0.85),
      rgba(104, 183, 56, 0.85)
    ),
    url("../img/catalog_present.png");
  width: 279px;
  height: 289px;
  background-position: top center;
  background-repeat: no-repeat;
  margin: 35px 20px 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: 10;
    top: 59px;
    left: 101px;
    width: 78px;
    height: 80px;
    background-image: url("../img/icon/present.svg");
    background-repeat: no-repeat;
  }
}

.additional-goods__present-info {
  margin: 0;
  padding-top: 187px;
  color: var(--basic-white);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .additional-goods__wrapper {
    padding: 13px 20px 0;
  }
}
