.main-header {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-family: var(--special-font);
  color: var(--basic-white);
  text-transform: uppercase;
}

.main-header__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header__title {
  text-transform: none;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding-top: 27px;
}

.main-header__paragraf {
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  padding-top: 25px;
}

.main-header__img {
  padding-top: 29px;
}

.main-header__button {
  width: 280px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--basic-green);
}

@media (min-width: $tablet-width) {
  .main-header__wrapper {
    margin: 0;
    padding-top: 62px;
    padding-left: 117px;
    display: grid;
  }

  .main-header__title {
    width: 414px;
    text-transform: none;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: var(--basic-black);
    padding: 0;
    text-align: left;
  }

  .main-header__paragraf {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    color: var(--basic-black);
  }

  .main-header__img {
    margin: 0 auto;
  }

  .main-header__button {
    grid-column: 1/2;
    grid-row: 3/4;
    font-size: 20px;
    line-height: 20px;
    width: 244px;
    height: 54px;
    margin-top: 49px;
  }
}

@media (min-width: $desktop-width) {
  .main-header__img {
    margin: 0 auto;
  }

  .main-header__button {
    grid-column: 1/2;
    grid-row: 3/4;
    z-index: 1;
  }
}
