.main-nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.main-nav__list a {
  color: var(--basic-black);
}

.main-nav__item {
  font-family: var(--special-font);
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    width: 440px;
    margin: 0 auto;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 42px 29px 0 0;
  }

  .main-nav__item {
    font-family: var(--special-font);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .main-nav__item--active {
    border-bottom: 2px solid var(--basic-green);
    padding-bottom: 10px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    width: 478px;
  }

  .main-nav__item--active {
    border-bottom: 2px solid var(--basic-white);
    padding-bottom: 10px;
  }
}
