.main-nav {
  width: auto;
  min-height: 66px;
}

.main-nav__toggle {
  position: absolute;
  top: 24px;
  right: 20px;
  z-index: 10;
  display: block;
  width: 24px;
  height: 16px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 1.5px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }

  .main-nav--nojs .main-nav__item {
    display: block;
  }
}

.main-nav--opened .main-nav__toggle {
  top: 24px;
  right: 20px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 1.5px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  padding-top: 16px;
  list-style: none;
  background-color: var(--basic-white);
  z-index: 10;
  position: relative;
}

.main-nav__list a {
  position: relative;
  display: block;
  font-family: var(--special-font);
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  padding: 22px 0 24px;
  text-transform: uppercase;
  text-decoration: none;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  color: var(--basic-black);
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    width: 440px;
    margin: 0 auto;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 42px 29px 0 0;
  }

  .main-nav__list a {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    background: none;
    border: none;
    padding: 0;
  }

  .main-nav__item {
    font-family: var(--special-font);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .main-nav__item--active {
    border-bottom: 2px solid var(--basic-green);
    padding-bottom: 10px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    width: 478px;
    margin-right: 110px;
  }

  .main-nav__item--active {
    border-bottom: 2px solid var(--basic-white);
    padding-bottom: 10px;
  }

  .main-nav__list a {
    color: var(--basic-white);
  }
}
