.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  padding-top: 10px;
  padding-left: 20px;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
