.page__body {
  margin: 0 auto;
  padding: 0;
  width: 320px;
}

.page__body--bg {
  position: relative;

  min-height: 100%;

  &::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 65px;
    z-index: -1;
    display: block;
    width: 320px;
    height: 302px;
    background-image: linear-gradient(
        rgba(104, 183, 56, 0.85),
        rgba(104, 183, 56, 0.85)
      ),
      url("../img/bg.png");
    background-position: top center;
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .page__body {
    width: 768px;
    margin: 0 auto;
  }

  .page__body--bg {
    &::before {
      background: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .page__body {
    width: 1440px;
    margin: 0 auto;
  }

  .page__body--bg {
    &::before {
      content: "";
      position: absolute;
      box-sizing: border-box;
      left: 720px;
      top: 0;
      z-index: -1;
      display: block;
      width: 720px;
      height: 694px;
      background-image: linear-gradient(
          rgba(104, 183, 56, 0.85),
          rgba(104, 183, 56, 0.85)
        ),
        url("../img/bg_big.png");
      background-position: top center;
      background-repeat: no-repeat;
    }
  }
}
