.purpose__wrapper {
  padding: 22px 20px 0;
}

.purpose__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.purpose__item {
  background-color: var(--basic-grey);
  margin-bottom: 20px;
}

.purpose__title {
  font-family: var(--special-font);
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.purpose__paragraph {
  font-size: 14px;
  line-height: 18px;
  color: var(--special-dark-grey);
  margin: 0;
  padding: 29px 33px 23px 20px;
}

.purpose__button {
  display: block;
  font-family: var(--special-font);
  text-transform: uppercase;
  color: var(--basic-black);
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  margin: 0;
  padding: 15px 0 18px 19px;
}

@media (min-width: $tablet-width) {
  .purpose__title {
    padding: 77px 0 0 53px;
    font-size: 36px;
    line-height: 36px;
  }

  .purpose__paragraph {
    width: 340px;
    padding: 24px 0 0 52px;
    font-size: 16px;
    line-height: 24px;
  }

  .purpose__button {
    padding: 48px 0 18px 52px;
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .purpose__wrapper {
    margin: 82px 110px 0;
    padding: 0;
  }

  .purpose__list {
    display: flex;
    justify-content: space-between;
  }

  .purpose__item {
    width: 570px;
    margin: 0;
  }
}
